
services:
  flask:
    build:
      context: ./app
    ports:
      - "8000:5000"
    env_file:
      - ./app/.env
    restart: always
  
  bot:
    build:
      context: ./bot
    env_file:
      - ./bot/.env
