body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

canvas {
    background-color: #e0c48f;
    border: 4px solid #555;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
